.profile {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #161616; 
    font-family: 'Roboto', sans-serif;
  }
  
  .avatarContainer {
    background-color: #3d3c3c;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid #0a0a0a; 
  }
  
  .profileAvatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  
.profileName {
    font-size: 20px; 
    color: #333;
    font-weight: 500; 
    margin-top: 10px;
  }
  
  .profileTag, .profileLocation {
    color: #666;
    font-size: 14px;
    font-weight: 400; 
    margin: 5px 0;
  }
  
  .profileStats {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #eee; 
  }
  
  .statsItem {
    display: flex;
    flex-direction: column;
  }

  .statsItem:not(:last-child) {
    border-right: 1px solid #ddd; 
  }
  
  .statsItem span {
    font-size: 16px; 
    font-weight: 500; 
    margin: 5px 0;
  }